---
import PageLayout from '../../layouts/PageLayout.astro';
import NavBar from '../../components/NavBar.astro';
import Spacer from '../../components/Spacer.astro';

import '../../styles/2024.css';

import { Image } from 'astro:assets';
import happi_svg from "../../assets/2024/happi.svg"
import slep_svg from "../../assets/2024/slep.svg"
import bellz_svg from "../../assets/2024/bellz.svg"
import music_svg from "../../assets/2024/music.svg"

import H_overall from '../../components/2024/H_overall.astro';
import H_weekday from '../../components/2024/H_weekday.astro';
import H_distribution from '../../components/2024/H_distribution.astro';
import S_w_graph from '../../components/2024/S_w_graph.astro';
import S_num_hrs from '../../components/2024/S_num_hrs.astro';
import F_overall from '../../components/2024/F_overall.astro';
import F_spending_over_time from '../../components/2024/F_spending_over_time.astro';
import F_by_category from '../../components/2024/F_by_category.astro';
import F_2023_vs_2024 from '../../components/2024/F_2023_vs_2024.astro';
import FF_spotify from '../../components/2024/FF_spotify.astro';

---

<PageLayout title="2024" includeNavBar={false}>

    <slot slot="head">
    <style>
      :root {
        --page-width: 116ch;
      }
    </style>
    </slot>

  <div id="page-2024">

    <div class="outer-div">
        <div class="centered-div">
            <NavBar/>
            <Spacer verticalSpace={60}/>
        </div>
    </div>
    

    <div class="page-section">

    <div class="outer-div">
        <div class="centered-div">
            <h1>my 2024 in numbers</h1>
            <Spacer verticalSpace={20}/>
            <p>from fostering my first cat, witnessing K and R get married, visiting China for the first time in 12 years (上次也是龍年🐉!), and another year exploring Chicago’s many charms, my 2024 was a year packed with ups and downs. along the way, i collected a couple of data points to help commemorate this year :)</p>
            <Spacer verticalSpace={40}/>
            <p>
            <em>table of contents</em>
            <ul>
                <li>happiness</li>
                <li>sleep</li>
                <li>finances</li>
                <li>just for fun</li>
            </ul>
            </p>
            </div>
        </div>
    </div>


    <div class="page-section">
        <div class="page-section-left">
            <Image src={happi_svg} alt="happi icon" style="width: 90px;" />
            <Spacer verticalSpace={12}/>
        </div>
        <div class="page-section-mid">

            <h2>how did i like 2024? a happiness chart</h2>
            <Spacer verticalSpace={40}/>

            <div>
                <p>on a scale of 1-5, my happiness over the year looked something like:</p>
                <br/>
                <div class='horizontal-scroll-container'>
                    <H_overall />
                </div>
            </div>

            <Spacer verticalSpace={50}/>

            <div>
                <div class="div-33 center-align">
                   <p><span id="happiness-avg">3.07</span> /5</p>
                    <p><em>avg happiness</em></p>
                    <br/><br/>
                </div>
                <div class="div-33 center-align">
                    <p><span id="happiness-workday">2.81</span> /5</p>
                    <p><em>avg workday happiness</em></p>
                    <br/><br/>
                </div>
                <div class="div-33 center-align">
                    <p><span id="happiness-nonworkday">3.48</span> /5</p>
                    <p><em>avg non-workday happiness</em></p>
                    <br/><br/>
                </div>
            </div>

            <!--

            <Spacer verticalSpace={20}/>

            <p>my happiness looked mostly normally distributed, centered around <strong>3.07</strong> (σ=0.67), and dipped lower in the middle of the week compared to weekends.</p>
            <Spacer verticalSpace={30}/>


            <div class="div-47 mobile-collapse" >
                <H_distribution />
            </div>
            <div class="div-3" />
            <div class="div-47 mobile-collapse" >
                <H_weekday />
            </div>

            -->


        </div>

    </div>

    <div class="page-section">
        <div class="page-section-left">
            <Image src={slep_svg} alt="slep icon" style="width: 90px;" />
            <Spacer verticalSpace={12}/>
        </div>
        <div class="page-section-mid">
            <h2>sleep zzZ</h2>
            <Spacer verticalSpace={30}/>

            <div>
                <h4>overall sleep habits</h4>
                <div>
                    <div class="div-33 mobile-collapse">
                        <p class="slep-highlight">7.62</p>
                        <p><em>avg hrs slept/night</em></p>
                    </div>
                    <div class="div-33 mobile-collapse">
                        <p class="slep-highlight">8:16a</p>
                        <p><em>avg waking time</em></p>
                    </div>
                    <div class="div-33 mobile-collapse">
                        <p class="slep-highlight">12:39a</p>
                        <p><em>avg sleeping time</em></p>
                    </div>
                </div>
                <Spacer verticalSpace={30}/>
                <S_num_hrs />
                <Spacer verticalSpace={25}/>
                <S_w_graph />
                <Spacer verticalSpace={40}/>

            </div>

            
            <div>
                <h4>workdays vs non-workdays</h4>
                <Spacer verticalSpace={20}/>
                <p>to no surprise, i slept later & longer on weekends compared to workdays. 
                <em>(side tidbit: the midpoint of my free-day sleep times was 6:04am, putting me in <a href="https://www.cnbc.com/2018/04/30/daniel-pink-how-to-time-your-day-for-peak-performance.html" target="_blank" rel="noopener noreferrer">d.pink's night owl chronotype</a>)</em></p>
                <Spacer verticalSpace={20}/>

                <div>
                    <div class="div-45" id="slep-left">
                        <h4>workdays</h4>

                        <div>
                            <p class="slep-highlight slep-workday">6.85</p>
                            <p><em>avg hrs slept/night</em></p>
                        </div>

                        <div>
                            <p class="slep-highlight slep-workday">6:50a</p>
                            <p><em>avg waking time</em></p>
                        </div>

                        <div>
                            <p class="slep-highlight slep-workday">11:59p</p>
                            <p><em>avg sleeping time</em></p>
                        </div>

                    </div>
                    <div class="div-10" id="slep-mid">
                        <p><em>vs</em></p>
                    </div>
                    <div class="div-45">
                        <h4>non-workdays</h4>

                        <div>
                            <p class="slep-highlight slep-nonworkday">8.81</p>
                            <p><em>avg hrs slept/night</em></p>
                        </div>

                        <div>
                            <p class="slep-highlight slep-nonworkday">10:28a</p>
                            <p><em>avg waking time</em></p>
                        </div>

                        <div>
                            <p class="slep-highlight slep-nonworkday">1:40a</p>
                            <p><em>avg sleeping time</em></p>
                        </div>
                    </div>
                </div>

                <!-- <p>my avg sleep time mid-point on my free days was <strong>6:04am</strong>, putting me as a nightowl according to daniel pink</p> -->
            </div>
        </div>
    </div>


    <div class="page-section">
        <div class="page-section-left">
            <Image src={bellz_svg} alt="finances icon" style="width: 84px;" />
            <Spacer verticalSpace={12}/>
        </div>
        <div class="page-section-mid">

            <h2>finances</h2>
            <Spacer verticalSpace={30}/>

            <div>
                <h4>spending this year</h4>
                <Spacer verticalSpace={30}/>
                <div id="finances-subtext">
                    <p>*adjusted by an arbitrary scalar for privacy reasons. 
                        <strong>essentials</strong>: rent, utilities, household supplies. 
                        <strong>food</strong>: food. 
                        <strong>self</strong>: health (doctors, dentists), classes. 
                        <strong>non-essentials</strong>: clothes, games, tech, anything for fun. 
                        <strong>social</strong>: social related, eg: concert tix. 
                        <strong>transportation</strong>: public transit, rideshare. 
                        <strong>travel</strong>: flights, hotels. 
                        <strong>gifts/donations</strong>: gifts, donations. 
                        <strong>misc</strong>: uncategorized.
                    </p>
                </div>

                <Spacer verticalSpace={20}/>
                <F_by_category />
                <Spacer verticalSpace={20}/>
                <F_spending_over_time />
                <!--
                <Spacer verticalSpace={20}/>
                <div class='horizontal-scroll-container'><F_overall /></div>
                -->
            </div>

            <Spacer verticalSpace={60}/>
            <div>
                <h4>2023 vs 2024</h4>
                <Spacer verticalSpace={20}/>
                <F_2023_vs_2024 />
                <Spacer verticalSpace={20}/>
                <p>the biggest changes in my spending habits this year as a % of overall spending per year were: 
                travel (<span id='spending-plus'>+9.3%</span>), out-of-pocket health appts (<span id='spending-plus'>+5.3%</span>), 
                non-essentials (<span id='spending-minus'>-5.1%</span>), and rent (<span id='spending-minus'>-4.5%</span>).</p>
            </div>
        </div>
    </div>

    
    <div class="page-section">
        <div class="page-section-left">
            <Image src={music_svg} alt="music icon" style="width: 90px;" />
            <Spacer verticalSpace={12}/>
        </div>
        <div class="page-section-mid">

            <h2>just for fun</h2>
            <Spacer verticalSpace={20}/>

            <div>
                <h4>tunes ♪₊˚♬ ﾟ</h4>

                <div>
                    <div class="div-33 mobile-collapse">
                        <p class="tunes-highlight">17,342</p>
                        <p><em>total tracks listened to</em></p>
                    </div>
                    <div class="div-33 mobile-collapse">
                        <p class="tunes-highlight">62,630</p>
                        <p><em>mins listened (spotify)</em></p>
                    </div>
                    <div class="div-33 mobile-collapse">
                        <p class="tunes-highlight">62,630</p>
                        <p><em>mins listened (spotify)</em></p>
                    </div>
                </div>

                <Spacer verticalSpace={50}/>
                <div class="div-47 mobile-collapse">
                    <p><strong>most listened to artists</strong></p>
                    <p>
                        1. NewJeans<br/>
                        2. Rex Orange County<br/>
                        3. grentperez<br/>
                        4. Kiss of Life<br/>
                        <!--
                        5. ILLIT<br/>
                        6. BTS<br/>
                        7. Twice<br/>
                        8. RM
                        -->
                    </p>
                    <br/>
                </div>
                <div class="div-3" />
                <div class="div-47 mobile-collapse">
                    <p><strong>most listened to tracks</strong></p>
                    <p>
                        1. When The Day Is Done - grentperez<br/>
                        2. the cutest pair - Regina Song<br/>
                        3. Right Now - NewJeans<br/>
                        4. Need to Know - Jay Park<br/>
                        
                        <!--
                        5. Magnetic - ILLIT<br/>
                        6. Always - Rex Orange County<br/>
                        7. OMG - NewJeans<br/>
                        8. Bubble Gum - NewJeans
                        -->
                    </p>
                </div>
            </div>

            <!--
            <Spacer verticalSpace={50}/>

            <div>
                <h4></h4>



            </div>
            -->

        </div>
    </div>



  </div>
</PageLayout>

